.title_desc{
    font-weight: 750;
    font-size: 12px;
}

.card_combo {
    display: flex;
    flex-direction: wrap;
    cursor: pointer;
}

.card_desc{
    font-size: 12px;
    padding: 0 1em 0 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #166F37;
}

.price{
    font-weight: 750;
    font-size: 16px;
}