.nav_container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 85%;
    padding: 0.5em;
    margin: .3em auto .3em;
    color: #fff;
    background-color: #E74423;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
}

.time_delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    margin: 0;
}

.stars{
    display: flex;
    flex-direction: row;
}