.header_container{
    display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.header_title{
    padding-left: 30%;
}

i{
    margin: 0 0.3em;
    font-style: normal;
}

.header_icons {
    text-align: right;
}

h3 {
    margin: 0;
}