.header_container{
    display: flex;
    background-color: #E74423;
    flex-direction: row;
    justify-content: space-between;
}

.logo_bw{
    height: 100%;
}

/* .header_title{
    padding-left: 30%;
}

i{
    margin: 0 0.3em;
    font-style: normal;
}

.header_icons {
    text-align: right;
}

h3 {
    margin: 0;
}
.icons {
    font-size: 1.5em;
    margin: 0 .2em;
} */