.popup_conteiner{
    max-width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0 auto;
    height: 31em;
    background-color: #F8F4F0;
    border-radius: 10px;
}

label {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Roboto;
    font-size: 30px;
    color: #166F37;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    margin: 4em 0 2.5em;
    letter-spacing: 2px;
}

h3 {
    font-family: Roboto;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 27px;
    color: #166F37;
}

.done{
    width: 4em;
    margin: 3em auto;
}